# Composer dependencies
/vendor

# Node modules
/node_modules

# Laravel environment file
.env
.env.backup

# Laravel storage and cache
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Laravel IDE helper (اگر استفاده می‌کنید)
.phpstorm.meta.php
.phpunit.result.cache

# Logs and debug files
*.log
npm-debug.log
yarn-error.log

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db